{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}/jquery-latest.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}/jquery.tablesorter.js"></script>
<script type="text/javascript"> 
	$(document).ready(function() 
	    { 
	        $("#standings").tablesorter({sortList: [[0,0]]});
	    } 
	);

</script>

{% endblock %}

{% block link_standings_class %}active{% endblock %}

{% block content %}


<h1> Current Standings </h1>

<table  border = 1 id="standings" class="tablesorter">
 <thead>
    <tr>
    <th>Rank</th>
    <th>User</th>
    <th>Total Score</th>
    <th>Week 1</th>
    <th>Week 2</th>
    <th>Week 3</th>
    <th>Week 4</th>
    <th>Week 5</th>
    <th>Week 6</th>
    <th>Week 7</th>
    <th>Week 8</th>
    <th>Week 9</th>
    <th>Week 10</th>
    <th>Week 11</th>
    <th>Week 12</th>
    <th>Week 13</th>
    <th>Week 14</th>
    <th>Week 15</th>
    <th>Week 16</th>
    <th>Week 17</th>
    </tr>
 </thead>
 <tbody>
    {% for score in scores %}
    <tr>
    <td>{{score.rank}}</td>
    <td><a href="{% url 'threeandout:selected' score.id %}">{{score.user}}</a></td> 
    <td>{{score.score}}</td>
    <td>{{score.1}}</td>
    <td>{{score.2}}</td>
    <td>{{score.3}}</td>
    <td>{{score.4}}</td>
    <td>{{score.5}}</td>
    <td>{{score.6}}</td>
    <td>{{score.7}}</td>
    <td>{{score.8}}</td>
    <td>{{score.9}}</td>
    <td>{{score.10}}</td>
    <td>{{score.11}}</td>
    <td>{{score.12}}</td>
    <td>{{score.13}}</td>
    <td>{{score.14}}</td>
    <td>{{score.15}}</td>
    <td>{{score.16}}</td>
    <td>{{score.17}}</td>
    
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
