{% extends "base.html" %}
{% block content %}

<p>Make Your Picks For Week {{week}}</p>

{% if currentpicks %}
	<p> Your current picks for this week:<br>
	QB: {{qb}} <br>
	RB: {{rb}} <br>
	WR: {{wr}} <br>
	TE: {{te}} <br>
	</p>
{%endif %}


<p> 
<form action= "{% url 'threeandout:submit' week %}" method="post">
{% csrf_token %}
Pick a QB: 
<select name="QB">
{% for QB in QBs %}
        
        <option value="{{ QB.id }}">{{QB.name }} - {{QB.team}}</option>
{% endfor %}
</select>
</p>

<p>
Pick a RB:
<select name="RB">
{% for RB in RBs %}
        
        <option value="{{ RB.id }}">{{RB.name }} - {{RB.team}}</option>
{% endfor %}
</select>
</p>

<p>
Pick a WR:
<select name="WR">
{% for WR in WRs %}
        
        <option value="{{ WR.id }}">{{WR.name }} - {{WR.team}}</option>
{% endfor %}
</select>
</p>

<p>
Pick a TE:
<select name="TE">
{% for TE in TEs %}
        
        <option value="{{ TE.id }}">{{TE.name }}- {{TE.team}}</option>
{% endfor %}
</select>
</p>

<input type="submit" value="submit" />
</form>
{% endblock %}
