{% extends "base.html" %}
{% block content %}

<h3>Three and Out Fantasy Football Official Rules</h3>

<p>
Each week each participant will select one quarterback, one running back, one receiver, and one tight end from any players within the NFL.  All players must be selected at least 10 minutes prior to their game each week.  Each player will score points like in traditional fantasy football based on stats like yards and TDs.  The league will be using NFL.com default fantasy scoring (table below).  Participants will score points weekly by totalling the points scored by the four players.  Scores each week will be totalled to form a season score.  
</p>
<p>
The primary restriction of Three and Out Fantasy Football is that each participant may only choose any given player three times throughout the regular season and playoffs.  Once a player has been selected by a participant three times they can no longer be used by that participant for the rest of the season.  
</p>
<p>
At the end of the NFL regular season all participants will be ranked according to their total season scores.  The top third (rounded up) of all participants in the league will make the playoffs.  In the playoffs the season scores will be reset and only the points score in the playoffs will be used to determine the winner.  The playoffs will consist of three weeks, the Wildcard Round, the Divisional Round, and the Conference Championship Round.  Players chosen during the playoffs follow the same restrictions as the regular season, once a player has been selected three times including the regular season they may not be chosen.  The participant who scores the most points in the three rounds of the playoffs will be the league champion.  All participants who did not make the players will participate in playoffs using the same rules, but only playing for pride.  
</p>

<p>
<h5>Player Scoring</h5>
<ul>
<li>Passing Yards: 1 point per 25 yards passing</li>
<li>Passing Touchdowns: 4 points</li>
<li>Interceptions: -2 points</li>
<li>Rushing Yards: 1 point per 10 yards</li>
<li>Rushing Touchdowns: 6 points</li>
<li>Receiving Yards: 1 point per 10 yards</li>
<li>Receiving Touchdowns: 6 points</li>
<li>Fumble Recovered for a Touchdown: 6 points</li>
<li>2-Point Conversions: 2 points</li>
<li>Fumbles Lost: -2 points</li>
</ul>
</p>

{% endblock %}