{% extends "pick.html" %}

{% load staticfiles %}
{% block link_makepicks_class %}active{% endblock %}
{% block head %}

<script type="text/javascript"> 
	$(document).ready(function() 
	    { 
        $("#QB-table").tablesorter({sortList: [[3,1]]});
        $("#RB-table").tablesorter({sortList: [[3,1]]});
        $("#WR-table").tablesorter({sortList: [[3,1]]});
        $("#TE-table").tablesorter({sortList: [[3,1]]});
        {% if qb %}
          setQB({{qb.id}});
        {% endif %}
        {% if rb %}
          setRB({{rb.id}});
        {% endif %}
        {% if wr %}
          setWR({{wr.id}});
        {% endif %}
        {% if te %}
          setTE({{te.id}});
        {% endif %}
	    }
	);

</script>

<script type="text/javascript">

  function clearInfoClass(id) {
    var infoList = document.getElementById(id).getElementsByClassName("info");
    for(var i=0; i<infoList.length; i++) {
      infoList[i].classList.remove('info');
    }
  }

  function setQB(row) {
    // set desired row
    clearInfoClass('QB-table');
    document.getElementById(row).classList.add("info");
    var formInfo = document.forms['players'];
    formInfo.QB.value = row;
    return true; 
  }

  function setRB(row) {
    // Clear all rows each time 
    clearInfoClass('RB-table');
    // set desired row 
    document.getElementById(row).classList.add("info");
    var formInfo = document.forms['players'];
    formInfo.RB.value = row;
    return true; 
  }

  function setWR(row) {
    // Clear all rows each time 
    clearInfoClass('WR-table');
    // set desired row 
    document.getElementById(row).classList.add("info");
    var formInfo = document.forms['players'];
    formInfo.WR.value = row;
    return true; 
  }
    
  function setTE(row) {
    // Clear all rows each time 
    clearInfoClass('TE-table');
    // set desired row 
    document.getElementById(row).classList.add("info");
    var formInfo = document.forms['players'];
    formInfo.TE.value = row;
    return true;     
  }
</script>
{% endblock %}

{% block btn_text %}Week {{week}} {% endblock %}

{% block pick_content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <p>
      <form name="players" action= "{% url 'threeandout:submit' week=week season_type=season_type%}" method="post">
        {% csrf_token %}

        {% if QBs %}
        <h4><i class="fa fa-list"></i> Pick a Quarterback</h4>
        <div class="row">
          <div class="col-sm-8">
            <table id="QB-table" class="table table-striped table-hover table-scroll pick-table-scroll table-condensed sorter-bootstrap">
              <thead>
              <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Score</th>
                <th>Times Picked </th>
              </tr>
              </thead>
              <tbody>
              {% for QB in QBs %}
              <tr id="{{QB.id}}" onclick="return setQB('{{QB.id}}')">
                <td>{{QB.name}} </td>
                <td>{{QB.teamName}} </td>
                <td>{%if QB.teamName == QB.away%} {{QB.home}} {%else%} {{QB.away}} {%endif%}</td>
                <td>{{QB.scoretodate}} </td>
                <td>{{QB.numPicked}} </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <input type="hidden" name="QB" value="" size ="40" />
        {% else %}
        QB: {{qb.name}}
        {% endif %}
        <br>

        {% if RBs %}
        <h4><i class="fa fa-list"></i> Pick a Running Back</h4>
        <div class="row">
          <div class="col-sm-8">
            <table id="RB-table" class="table table-striped table-hover table-scroll pick-table-scroll sorter-bootstrap">
              <thead>
              <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Score</th>
                <th>Times Picked </th>
              </tr>
              </thead>
              <tbody>
              {% for RB in RBs %}
              <tr id="{{RB.id}}" onclick="return setRB('{{RB.id}}')">
                <td>{{RB.name}} </td>
                <td>{{RB.teamName}} </td>
                <td>{%if RB.teamName == RB.away%} {{RB.home}} {%else%} {{RB.away}} {%endif%}</td>
                <td>{{RB.scoretodate}} </td>
                <td>{{RB.numPicked}} </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <input type="hidden" name="RB" value="" size ="40" />
        {% else %}
        RB: {{rb.name}}
        {% endif %}
        <br>

        {% if WRs %}
        <h4><i class="fa fa-list"></i> Pick a Wide Receiver</h4>
        <div class="row">
          <div class="col-sm-8">
            <table id="WR-table" class="table table-striped table-hover table-scroll pick-table-scroll table-condensed sorter-bootstrap">
              <thead>
              <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Score</th>
                <th>Times Picked </th>
              </tr>
              </thead>
              <tbody>
              {% for WR in WRs %}
              <tr id="{{WR.id}}" onclick="return setWR('{{WR.id}}')">
                <td>{{WR.name}} </td>
                <td>{{WR.teamName}} </td>
                <td>{%if WR.teamName == WR.away%} {{WR.home}} {%else%} {{WR.away}} {%endif%}</td>
                <td>{{WR.scoretodate}} </td>
                <td>{{WR.numPicked}} </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <input type="hidden" name="WR" value="" size ="40" />
        {% else %}
        WR: {{wr.name}}
        {% endif %}
        <br>

        {% if TEs %}
        <h4><i class="fa fa-list"></i> Pick a Tight End</h4>
        <div class="row">
          <div class="col-sm-8">
            <table id="TE-table" class="table table-striped table-hover table-scroll pick-table-scroll table-condensed sorter-bootstrap">
              <thead>
              <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Score</th>
                <th>Times Picked </th>
              </tr>
              </thead>
              <tbody>
              {% for TE in TEs %}
              <tr id="{{TE.id}}" onclick="return setTE('{{TE.id}}')">
                <td>{{TE.name}} </td>
                <td>{{TE.teamName}} </td>
                <td>{%if TE.teamName == TE.away%} {{TE.home}} {%else%} {{TE.away}} {%endif%}</td>
                <td>{{TE.scoretodate}} </td>
                <td>{{TE.numPicked}} </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <input type="hidden" name="TE" value="" size ="40" />
        {% else %}
        TE: {{te.name}}
        {% endif %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
