{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block link_preferences_class %}active{% endblock %}
{% block content %}

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <h1> Edit Preferences </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form class="form form-horizontal" method="post" action="">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group">
        <div class="col-md-offset-4 text-center">
          <a href="{% url 'django.contrib.auth.views.password_change' %}">
            <button type="button" class="btn btn-primary">Change Password</button>
          </a>
        </div>
      </div>
      {% buttons layout="horizontal" %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  </div>
</div>
</div>

{% endblock %}

