<p>
  Each week each participant will select one quarterback, one running back, one receiver, and one tight end from any players in the NFL.  All players must be selected at least 10 minutes prior to their game each week.  Each player will score points as in traditional fantasy football based on stats such as yards and TDs.  The league will be using standard fantasy football scoring (table below).  Participants will score points weekly by totalling the points scored by the four players.  Scores each week will be totalled to form a season score. 
</p>
<p>
 The primary restriction of Three and Out Fantasy Football is that each participant may only choose any given player three times throughout the regular season and playoffs.  Once a player has been selected by a participant three times they can no longer be used by that participant for the rest of the season.
 </p>
<p>
  At the end of the NFL regular season all participants will be ranked according to their total season scores.  The top third (approximately) of all participants in the league will make the playoffs.  The exact number that will make the playoffs will be announced after week 3.  In the playoffs, the season scores will be reset and only the points score in the playoffs will be used to determine the winner.  The playoffs will consist of three weeks: the Wildcard Round, the Divisional Round, and the Conference Championship Round.  Players chosen during the playoffs follow the same restrictions as the regular season. Once a player has been selected three times (including the regular season) they may not be chosen again.  The participant who scores the most points in the three rounds of the playoffs will be the league champion.  All participants who did not make the playoffs may participate in the playoffs using the same rules, but only playing for pride. 
</p>

<p>
<b>Auto Pick Feature </b>- When enabled the auto pick feature will choose the best available players for the upcoming week for each participant on Sunday just before the 1 pm games. The “best available player” will be determined by year to date scoring, except in week 1 where it will be last year’s best at each position.  This feature can only be used three times during a season.  This feature can be enabled/disabled on the settings page.
</p>

<p>
<b>Bonus Weeks </b>- To add a little excitement to the second half of the season, weeks 9, 12, and 15 will be bonus weeks.  During a bonus week, all players who win their NFL game score double fantasy points in Three and Out.
</p>

<p>
<b>Top 3 Reward </b>-  As a reward, the top three finishers in the regular season scoring will get an advantage going into the playoffs.  These participants will get one extra pick for any NFL player they choose giving them a total of 4 picks for that one player for the regular season and playoffs combined.  This extra pick will be granted after the regular season is over to be used in any week of the playoffs. 
</p>

<p>
<h4>Player Scoring</h4>
<ul>
  <li>Passing Yards: 1 point per 25 yards passing</li>
  <li>Passing Touchdowns: 4 points</li>
  <li>Interceptions: -2 points</li>
  <li>Rushing Yards: 1 point per 10 yards</li>
  <li>Rushing Touchdowns: 6 points</li>
  <li>Receiving Yards: 1 point per 10 yards</li>
  <li>Receiving Touchdowns: 6 points</li>
  <li>Fumble Recovered for a Touchdown: 6 points</li>
  <li>2-Point Conversions: 2 points</li>
  <li>Fumbles Lost: -2 points</li>
</ul>
</p>
