{% extends "weeklyresultsmain.html" %}

{% load static %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}/jquery-latest.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}/jquery.tablesorter.js"></script>
<script type="text/javascript"> 
	$(document).ready(function() 
	    { 
	        $("#results-table").tablesorter({sortList: [[1,1]]});
	    } 
	);

</script>

{% endblock %}

{% block link_weeklyresults_class %}<li class="active">{% endblock %}

{% block week_intro %}{% endblock %}
{% block btn_text %} Week {{week}} {% endblock %}

{% block result_content %}


{% if ok %}

<div class="col-sm-8">
<table id="results-table" class="table table-striped table-bordered pick-table-scroll table-condensed sorter-bootstrap">
<thead>
  <tr role="row">
    <th>User</th>
    <th>Score</th>
    <th>QB</th>
    <th>QB score</th>
    <th>RB</th>
    <th>RB score</th>
    <th>WR</th>
    <th>WR score</th>
    <th>TE</th>
    <th>TE score</th>
  </tr>
 </thead>
 <tbody>
    {% for pick in picks %}
    <tr>
    <td>{{pick.user}}</td>
    <td>{{pick.score}}</td>
    <td>{{pick.qbName}}</td>
    <td>{{pick.qbScore}}</td>
    <td>{{pick.rbName}}</td>
    <td>{{pick.rbScore}}</td>
    <td>{{pick.wrName}}</td>
    <td>{{pick.wrScore}}</td>
    <td>{{pick.teName}}</td>
    <td>{{pick.teScore}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>

{% else %}

<p> Not all games have started yet.  Come back later to see the results! </p>

{% endif %}

{% endblock %}
