<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href={{ STATIC_URL }}/style.css />
<link rel="stylesheet" type="text/css" href={{ STATIC_URL }}/jquery.tablescroll.css />
{% block head %}{% endblock %}
</head>


<div id="wrapper">
        <div id="header">
                <div id="logo">
                        <h1><a href="#">ThreeAndOut</a></h1>
                        <p>Fantasy Football Awesomeness</p>
                </div>
        </div>
        <!-- end #header -->
</div>

{% if user.is_authenticated %}
<div id="wrapper">
        <div id="menu">
                <ul>
                        <li class="{% block link_makepicks_class %}{% endblock %}"><a href="{% url 'threeandout:picks' %}" title="">Make Picks</a></li>
                        <li class="{% block link_weeklyresults_class %}{% endblock %}"><a href="{% url 'threeandout:weeklyresultssummary' %}" title="">Weekly Results</a></li>
                        <li class="{% block link_personalresults_class %}{% endblock %}"><a href="{% url 'threeandout:personalresults' %}" title="">Personal Results</a></li>
                        <li class="{% block link_preferences_class %}{% endblock %}"><a href="{% url 'threeandout:editPreferences' %}" title="">Preferences</a></li>
                        <li class="{% block link_rules_class %}{% endblock %}"><a href="{% url 'threeandout:rules' %}" title="">Rules</a></li>
                        <li class="last"><a href="{% url "django.contrib.auth.views.logout" %}" title="">Logout</a></li>
                </ul>
        </div>
</div>

<h3>Logged in as: {{ user.username }}</h3>
{% endif %}

<hr />
{% block content %}{% endblock %}
</body>
